SUBSYSTEM=="tty" DRIVERS=="max310x" KERNELS=="spi0.0" SYMLINK+="ttySMC"
SUBSYSTEM=="tty" DRIVERS=="max310x" KERNELS=="spi3.0" SYMLINK+="ttyVEC0"
SUBSYSTEM=="tty" DRIVERS=="max310x" KERNELS=="spi3.1" SYMLINK+="ttyVEC1"
